.edit-section {
  width: 100%;
  padding: 80px 16px 20px;
  max-width: 1000px;
  margin: auto;

  .edit-section__go-back{

    .edit-section__go-back-label{
      text-decoration: underline;
    }
  }
  .edit-section__title{
    font-size: 3rem;
    margin-top: 0px;
  }
  .edit-section__description{
    margin-bottom: 40px;
  }
}
