@import "skeleton";
.summary-section {
  width: 100%;
  padding: 80px 16px 20px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 200px;
  .summary-section__title {
    font-size: 2rem;
    text-align: center;
  }
  .summary-section__description {
    margin: 0px auto 32px;
  }
  .summary-section__add-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .summary-section__form-type-label {
    margin: 0px;
  }
  .summary-section__todo-list {
    margin: 40px auto;
  }
}
.code-span {
  border-radius: 4px;
  background-color: #424242;
  color: #ffffff;
  padding: 2px 4px;
}
.table-loading {
  width: 100%;
  height: 40px;
  border-radius: 12px;
}
.select-row {
  cursor: pointer;
}
